<main>
    <h2 id="about">About Us</h2>
    <p>
        Forum Finder is a social networking website designed to connect it’s users through user-generated forums. Within these forums, other users can post their thoughts, and upvote or downvote other user’s posts. Users may also favorite a forum, and view their favorites separately from the global forum stream.

    </p>
</main>