<main>
    <h1 id="title">Forum Post</h1>
    <div>
        <form>
            <div class="form-controls">
                <label for="name">User-Name</label>
                <input name="name" id="name">
            </div>
            <div class="form-controls">
                <label for="Topic_Title"> Topic Title</label>
                <input name="Topic_Title" id="Topic_Title>
            </div>
            <div class="form-controls">
                <label for="message"> Your Message</label>
                <textarea name="message" id="message"></textarea>
            </div>
            <div class="form-controls">
                <button type="submit" name="submit">Submit</button>
                <button type="reset" name="reset">Reset</button>
            </div>
        </form>
    </div>
</main>