 <header>
                
                <h1 id="motto">Forum Finder</h1>
<nav>
        <ul>
            <li><a href="main">Homepage</a></li>
            <li><a href="forum-wall">Forums</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="dashboard">Dashboard</a></li>

        </ul>
    </nav>
</header>