<main>
    <h1> Welcome to your Forum Page!</h1>
    <p> You can,<strong>Post</strong>, <strong>Edit</strong>, and <strong>Favorite</strong> your Forums here! </p>
<section class="forum-wall">
    <div class="container is-fluid forum-post">
        <div class="notification is-primary">
    {{> forum-post}}
    </div>
    </div>
    </section>

</main>